<style>
  .rowFlex2 {
    display: flex;
    flex-wrap: wrap;
  }
  .rowFlex2 [class*="col-"] {
    display: flex;
    flex-direction: column;
  }
  .rowFlex2 .well {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 0 16px 0;
    overflow: hidden;
    border-radius: 16px;
    border: none;
  }
  .rowFlex2 .well img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    margin: 0;
  }
  .rowFlex2 .well > *:not(img) {
    padding: 0 16px;
  }
  .rowFlex2 .well .row {
    margin-top: auto;
  }
</style>

<div class="row rowFlex margin-top-1x">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="well bg-main">
      <img
        class="img-responsive margin-auto"
        src="/static/brand-gmc/vehicle/2025/GMC/Sierra_EV/MRP/09.jpg"
        loading="lazy"
        width="800"
        height="400"
        alt="ALT TEXT"
      />
      <h3>Card Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <div class="row">
        <div class="col-sm-12">
          <a
            href="SOURCE"
            class="btn btn-cta btn-block"
            data-dotagging-link-url="SOURCE"
            data-dotagging-event="cta_interaction"
            data-dotagging-product-name="Website|Custom Content"
            data-dotagging-event-action-result="open"
            data-dotagging-element-type="body"
            data-dotagging-element-order="0"
            data-dotagging-element-subtype="cta_button"
          >
            CONTENT
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="well bg-main">
      <img
        class="img-responsive margin-auto"
        src="/static/industry-automotive/medium-images/service/detailing_04.jpg"
        loading="lazy"
        width="800"
        height="600"
        alt="ALT TEXT"
      />
      <h3>Card Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
      <div class="row">
        <div class="col-sm-12">
          <a
            href="SOURCE"
            class="btn btn-cta btn-block"
            data-dotagging-link-url="SOURCE"
            data-dotagging-event="cta_interaction"
            data-dotagging-product-name="Website|Custom Content"
            data-dotagging-event-action-result="open"
            data-dotagging-element-type="body"
            data-dotagging-element-order="0"
            data-dotagging-element-subtype="cta_button"
          >
            CONTENT
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="well bg-main">
      <img
        class="img-responsive margin-auto"
        src="/static/industry-automotive/medium-images/service/video-inspection.jpg"
        loading="lazy"
        width="800"
        height="533"
        alt="ALT TEXT"
      />
      <h3>Card Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="row">
        <div class="col-sm-12">
          <a
            href="SOURCE"
            class="btn btn-cta btn-block"
            data-dotagging-link-url="SOURCE"
            data-dotagging-event="cta_interaction"
            data-dotagging-product-name="Website|Custom Content"
            data-dotagging-event-action-result="open"
            data-dotagging-element-type="body"
            data-dotagging-element-order="0"
            data-dotagging-element-subtype="cta_button"
          >
            CONTENT
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="well bg-main">
      <img
        class="img-responsive margin-auto"
        src="/static/brand-gmc/vehicle/2025/GMC/Sierra_EV/MRP/09.jpg"
        loading="lazy"
        width="800"
        height="400"
        alt="ALT TEXT"
      />
      <h3>Card Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <div class="row">
        <div class="col-sm-12">
          <a
            href="SOURCE"
            class="btn btn-cta btn-block"
            data-dotagging-link-url="SOURCE"
            data-dotagging-event="cta_interaction"
            data-dotagging-product-name="Website|Custom Content"
            data-dotagging-event-action-result="open"
            data-dotagging-element-type="body"
            data-dotagging-element-order="0"
            data-dotagging-element-subtype="cta_button"
          >
            CONTENT
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="well bg-main">
      <img
        class="img-responsive margin-auto"
        src="/static/industry-automotive/medium-images/service/detailing_04.jpg"
        loading="lazy"
        width="800"
        height="600"
        alt="ALT TEXT"
      />
      <h3>Card Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
      <div class="row">
        <div class="col-sm-12">
          <a
            href="SOURCE"
            class="btn btn-cta btn-block"
            data-dotagging-link-url="SOURCE"
            data-dotagging-event="cta_interaction"
            data-dotagging-product-name="Website|Custom Content"
            data-dotagging-event-action-result="open"
            data-dotagging-element-type="body"
            data-dotagging-element-order="0"
            data-dotagging-element-subtype="cta_button"
          >
            CONTENT
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
