<style>
.overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .5s ease; background-color: var(--cta-background-color); }
a:hover .overlay { opacity: 0.8; }
.overlayCenter { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }
.overlayCenter i { color: var(--cta-font-color); }
</style>

<div class="row gutter-x margin-x gallery">
<div class="col-md-4 pad-x">
<a data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/accessories2-wide.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/accessories2-wide.jpg" target="_blank">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/accessories2-wide.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/Alignment_2020.png" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/Alignment_2020.png" target="_blank">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/Alignment_2020.png'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/tires_thin.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/tires_thin.jpg" target="_blank">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/tires_thin.jpg'); padding-top: 80%;" class="img-background img-cover img-background-bottom"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/c567a4cc20b44061986849259fcd4b4c_c1x0-798x600_x798.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/c567a4cc20b44061986849259fcd4b4c_c1x0-798x600_x798.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/c567a4cc20b44061986849259fcd4b4c_c1x0-798x600_x798.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/car-paint-protection.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/car-paint-protection.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/car-paint-protection.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/car_delivery.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/car_delivery.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/car_delivery.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/engine-maintenance-full.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/engine-maintenance-full.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/engine-maintenance-full.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/general-full.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/general-full.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/general-full.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/heatingac-full.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/heatingac-full.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/heatingac-full.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/inspect-drive-belt.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/inspect-drive-belt.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/inspect-drive-belt.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/maintenance.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/maintenance.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/maintenance.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<div class="col-md-4 pad-x">
<a arget="_blank" data-dotagging-element-order="0" data-dotagging-element-subtype="hyperlink" data-dotagging-element-type="body" data-dotagging-event="cta_interaction" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/mechanics.jpg" data-dotagging-product-name="Website|Custom Content" href="/static/industry-automotive/mechanics.jpg">
<div role="img" aria-label="Overdrive in Derwood MD" title="Overdrive in Derwood MD" style="background-image: url('/static/industry-automotive/mechanics.jpg'); padding-top: 80%;" class="img-background img-cover"></div>
<div class="overlay">
<div class="overlayCenter"><i aria-hidden="true" class="fa fa-search-plus fa-3x text-white"></i></div>
</div>
</a>
</div>
<!-- popup more gallery in interior -->
<!-- <div class="hidden">
<a href="/static/industry-automotive/newoil-full.jpg" alt="2025 INFINITI QX80 | Overdrive in Derwood MD" data-dotagging-product-name="Website|Custom Content" data-dotagging-element-type="body" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/newoil-full.jpg" data-dotagging-element-subtype="hyperlink" data-dotagging-event="cta_interaction" data-dotagging-element-order="0">Image 6</a>
<a href="/static/industry-automotive/routine-wide.jpg" alt="2025 INFINITI QX80 | Overdrive in Derwood MD" data-dotagging-product-name="Website|Custom Content" data-dotagging-element-type="body" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/routine-wide.jpg" data-dotagging-element-subtype="hyperlink" data-dotagging-event="cta_interaction" data-dotagging-element-order="0">Image 7</a>
<a href="/static/industry-automotive/serviceImg7-small.jpg" alt="2025 INFINITI QX80 | Overdrive in Derwood MD" data-dotagging-product-name="Website|Custom Content" data-dotagging-element-type="body" data-dotagging-event-action-result="complete" data-dotagging-link-url="/static/industry-automotive/serviceImg7-small.jpg" data-dotagging-element-subtype="hyperlink" data-dotagging-event="cta_interaction" data-dotagging-element-order="0">Image 8</a>
</div> -->
</div>

<script>
$(document).ready(function() {
$('.gallery').each(function() { // the containers for all your galleries
$(this).magnificPopup({
delegate: 'a', // the selector for gallery item
type: 'image',
gallery: {
enabled:true
}
});
});
});
</script>