<style>
.galleryS {
display: none;
}
.galleryS .slick-list {
margin: 0;
}
.galleryBottom a {
text-decoration: underline 1px; text-underline-offset: 0.2em;
}
.galleryS .slick-prev,
.galleryS .slick-next {
width: 15%; height: 100%; z-index: 1;
}
.galleryS .slick-prev {
left: 0;
}
.galleryS .slick-next {
right: 0;
}
.galleryS .slick-prev::before,
.galleryS .slick-next::before {
font: normal normal normal 28px / 1 FontAwesome; width: 50px; height: 50px; display: block; background: var(--cta-background-color); color: var(--cta-font-color); box-shadow: 1px 1px 5px rgba(0, 0, 0, .2); border-radius: 50%; padding-top: 10px; margin: 0 auto; opacity: 0.85; transition: all 250ms ease-in-out;
}
.galleryS .slick-prev:hover::before,
.galleryS .slick-prev:focus::before,
.galleryS .slick-next:hover::before,
.galleryS .slick-next:focus::before {
opacity: 1;
}
.galleryS .slick-prev::before {
content: '104';
}
.galleryS .slick-next::before {
content: '105';
}
.galleryS .slick-dots {
position: relative; bottom: -35px;
}
.galleryS .slick-dots li button::before {
font-size: 16px; color: var(--main-text-color); opacity: 0.4;
}
.galleryS .slick-dots li.slick-active button::before {
color: var(--main-text-color); font-size: 20px; opacity: 0.9;
}
.galleryS .slick-slide {
padding: 25px 40px;
}
.galleryS a {
position: relative;
}
.galleryS .img-background {
border: none; transition: all 250ms ease-in-out;
}
.galleryS .slick-center .img-background {
transform: scale(1.08);
}
.ekko-lightbox .modal-content {
border-radius: 0;
}
.ekko-lightbox-nav-overlay span {
display: none !important;
}
.galleryS .slick-slide {
opacity: 0.5;
}
.galleryS .slick-slide.slick-active {
opacity: 1;
}
@media (min-width: 768px) {
.ekko-lightbox .modal-dialog {
width: 100% !important;
}
}
@media (max-width: 767px) {
.galleryS .slick-prev,
.galleryS .slick-next {
width: 80px;
}
.galleryS .slick-slide {
padding: 20px 25px;
}
}
</style>

<aside class="galleryS text-center pad-bottom-2x" data-dotagging-element-subtype="image" data-dotagging-event-action-result="search" data-dotagging-item-make="Make" data-dotagging-media-type="image">
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/car-shopping-hero.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/car-shopping-hero.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/driver-hero.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/driver-hero.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/driving-at-night.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/driving-at-night.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/driving-hero.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/driving-hero.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/driving-hero3.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/driving-hero3.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/driving-hero4.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/driving-hero4.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/driving-hero5.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/driving-hero5.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/family-sunset-hero.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/family-sunset-hero.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/handshake-hero5.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/handshake-hero5.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/happy-couple-hero.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/happy-couple-hero.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
<div>
<a data-gallery="gallery" data-toggle="lightbox" data-type="image" href="/static/industry-automotive/hero/driving/test-drive-hero2.jpg">
<div role="img" aria-label="gallery image" title="gallery image" style="background-image: url('/static/industry-automotive/hero/driving/test-drive-hero2.jpg'); padding-top: 60%;" class="img-background img-cover"></div>
</a>
</div>
</aside>

<script>
window.addEventListener('load', function()
{
$(document).ready(function()
{
$('.galleryS').show();
$('.galleryS').slick(
{
centerMode: true,
slidesToShow: 1,
slidesToScroll: 1,
infinite: true,
dots: true,
centerPadding: '20%',
responsive: [
{
breakpoint: 992,
settings:
{
centerMode: true,
centerPadding: '15%',
slidesToShow: 1
}
}]
});
});
});
</script>